

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #F6F6F6; /* O cinza bem claro que aparece no fundo do Figma */
    min-height: 100vh;
}
 
html {
  scroll-behavior: smooth;
}