## Config application.properties
## Referenciar essas variáveis no application.properties da sua aplicação

spring.application.name=${applicationNome}

# Configuracoes do Banco de Dados
spring.datasource.url=jdbc:postgresql://localhost:5432/${nomeBD}
spring.datasource.username=${usuarioBD}
spring.datasource.password=${senhaUsuarioBD}


# Configuracoes do Hibernate/JPA
spring.jpa.hibernate.ddl-auto=none
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect


# Configuracoes do Flyway
spring.flyway.enabled=true
spring.flyway.locations=classpath:db/migration


# AWS S3
aws.s3.region=${s3.bucket.region}
aws.s3.bucket.name=${s3.bucket.name}
AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
AWS_CONFIG_FILE=${AWS_CONFIG_FILE}
AWS_SHARED_CREDENTIALS_FILE=${AWS_SHARED_CREDENTIALS_FILE}

# JWT Secret Key
token.secret.key=${JWT_SECRET:my-secret-key}
