
.mainContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;           
    gap: 30px;
    justify-content: center;   
    width: 100%;
    margin-bottom: 40px;
    
}

.corpo {
                
  background-color: #757575; 
    width: 100%;
    max-width: 800px;         
    margin: 40px auto;         
    border-radius: 20px;       
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    overflow: hidden;
      
}

.logo{
    width: 50px;
    height: 30px;
}

.cabecalho{
   width: 100%;
    background-color: #000000;
    padding: 10px;
    border-radius: 20px 20px 0 0; 
    display: flex;
    align-items: center;
    gap: 15px;
}

.nomeCabecalho{
    font-family: var(--font-orbitron);
    font-size: bold;
    font-size: 28px;
    color: #FF7A00;
}

.containerCards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    
    
}

.cardTituloImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 12px;
}

.logoCard{
    width: 40px;
    height: 25px;
    align-self: center;
}

.card {
    background-color: #ffffff; 
    border-radius: 25px;   
    border: 3px solid #FF7A00; 
    padding: 10px 10px;
    margin-top: 50px;
    width: 350px;
    border-color:#FF7A00;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    align-items: center;
}

.inputGroup {
    margin-bottom: 10px;
}


.inputGroup label {
    display: none; 
}

.inputGroup {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #d9d9d9; 
    color: #757575;
    font-size: 12px;
}

.inputGroup:hover{
    border: 2px solid #FF7A00; 
}

.btnAcao {
    display: block;
    width: 60%;
    margin: 10px auto 0;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: #FF7A00; 
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    
}

.btnAcao:hover {
    background-color: #000000;
    color:#FF7A00;
}

.tabelaContainer {
    width: 100%;
    margin-top: 15px;
    max-width: 800px;
    background-color: #d9d9d9;
    border-radius: 12px;
    overflow: hidden;
    border-spacing: 0 10px;
    box-shadow: 0 10px 25px rgba(26, 83, 92, 0.3);
    font-family:sans-serif;
}

.tabelaContainer table {
    width: 100%;
    border-collapse: collapse;
}

.tabelaContainer thead {
    background-color: #d9d9d9;
    color: #757575;
}

.tabelaContainer th, .tabelaContainer td {
    padding: 8px;
    text-align: center;
    border-bottom: 2px solid  #ffffff;
}


.secaoListaCard {
    margin:20px;
    border: 4px solid #FF7A00; 
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 90%;
}

.secaoListaCard .btnAcao{
    margin: 0;
}

.secaoListaCard h2{
    font-size: 20px;
}


